.qr {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 15px;
    margin: auto 20px;
    padding: 15px;
    text-align: center;
    height: 80vh;
    grid-gap: 1rem;
    font-size: $fontSize;
}

.img {
    border-radius: 15px;
}

.content {
    padding:0 18px;
    &__paragraph {
        margin-top: 1.5rem;
        color: $grayishBlue;
    }
}