// variables

$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue:hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

// fonts

$fontSize: 15px;
$font: 'Outfit', 'sans-serif';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');